[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
redis = "*"
"psycopg2-binary" = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
gunicorn = "*"
gevent = "*"

[dev-packages]
python-dotenv = "*"
flask-cors = "*"

[requires]
python_version = "3.6"
